.car {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  transform-origin: top center;
  background-color: tomato;
}

.translate {
  transform: translate(0, 0);
}

.rotate {
  transform: rotate(0, 0);
}

#start {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

#pause {
  position: absolute;
  left: 150;
  bottom: 100px;
}
